[submodule "Scarab"]
	path = Scarab
	url = https://github.com/project8/scarab
[submodule "External/pybind11"]
	path = External/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "External/cereal"]
	path = External/cereal
	url = https://github.com/USCiLab/cereal.git
